.divHeading{
    color: red;
}

.mainDiv{
    border: 1px solid red;
    height: 500px;
    display: flex;
}

.mainDiv>div{
    border: 1px solid green;
    width: 50%;
}

.mainDiv>div:nth-child(1){
    padding-left: 10%;
}