/* -------------------------------- FOOTER Styling Start ------------------------------------- */
                                   /* Footer Top Styling */
.footermid {
    /* border: 1px solid red; */
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 45px 25px;
    line-height: 22.5px;
    font-size: 16px;
    font-family:"IBM Plex Sans", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: white;
    /* color: rgb(247, 242, 242); */
    color: black;
    margin-top: -200px;
}

.footermid>div {
    width: 15%;
}

.footermidtitle {
    font-size: 16px;
    color: #000ff0;
    font-weight: bold;
}

.footermid>div>p{
    text-align: start;
    font-size: 16px;
    transition: transform ease 300ms;
}

.footermid>div>p:hover{
    transform: translate(5px, 0px);
    cursor: pointer;
}

/* .footermid>div>p */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.footer {
    padding-top: 180px;
}

.FooterHeading{
    font-weight: bold;
    font-size: 20px;
}

/* -------------------------------- FOOTER-TOP Styling END ------------------------------------- */

