.mainCardDiv{
    color: red;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    height: auto;
    justify-content: center;
}

/* .mainCardDiv>div{
    border: 1px solid green;

} */

.mainCardDiv>div:nth-child(1){
  width: 30%;
}

.mainCardDiv>div:nth-child(1)>h2{
    color: black;
    font-size: 32px;
    text-align: start;
    width: 60%;
    margin: auto;
  }

  .mainCardDiv>div:nth-child(1)>p{
    color: #64648c;
    font-size: 16px;
    text-align: start;
    line-height: 24px;
    width: 60%;
    font-family: "IBM Plex Sans", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    letter-spacing: normal;
    margin: auto;
    margin-top: 20px;
  }

  .mainCardDiv>div:nth-child(1)>img{
    width: 100%;
  }

.mainCardDiv>div:nth-child(2){
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
  }

  .mainCardDiv>div:nth-child(2)>div{
  box-shadow: rgba(123, 127, 218, 0.2) -8px 8px 19px -8px;
  border-radius: 6px;
  /* position: relative; */
  /* z-index: 0; */
  /* transition: 0.2s all; */
  /* transition: 0.5s ; */
  transition: transform ease 300ms;
  }

  .mainCardDiv>div:nth-child(2)>div:hover{
    box-shadow: rgba(23, 26, 90, 0.2) -8px 8px 19px -8px;
    /* z-index: 1; */
    /* transform: scale(1.03); */
    /* top: -5px; */
    transform: translate(0px, -10px);
  }

  .mainCardDiv>div:nth-child(2)>div>img:nth-child(1){
    width: 10%;
    margin-left: -180px;
    margin-top: 60px;
   }

  .mainCardDiv>div:nth-child(2)>div>p:nth-child(2){
    color: black;
    font-size: 16px;
    text-align: start;
    width: 60%;
    margin: auto;
   }


  .mainCardDiv>div:nth-child(2)>div>p:nth-child(3){
    color: #64648c;
    font-size: 16px;
    text-align: start;
    line-height: 24px;
    width: 60%;
    font-family: "IBM Plex Sans", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    letter-spacing: normal;
    margin: auto;
    margin-top: 20px;
  }

  .mainCardDiv>div:nth-child(2)>div>p:nth-child(4){
    color: #000ff0;
    font-size: 16px;
    text-align: end;
    width: 60%;
    margin: auto;
    margin-top: 20px;
   }